:root {
  --orange: #cd5322;
  --white: #fff;
  --dark: #000;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  margin: 0 !important;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body.logged-in > header {
  top: 32px;
}

@media screen and (max-width: 782px) {
  html {
    font-size: 14px;
  }
  body.logged-in > header {
    top: 46px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin-inline: 1.5rem;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

h4 {
  font-size: 1.3rem;
  margin: 0.2em 0;
  font-weight: 400;
}

.py-5 {
  padding: 3em 0;
}
.mt-2 {
  margin-top: 1.2em;
}
.mt-5 {
  margin-top: 3em;
}

.my-5 {
  margin-top: 3em;
  margin-bottom: 3em;
}

@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }
}

@media screen and (max-width: 768px) {
  .d-sm-none {
    display: none !important;
  }
}

html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
  opacity: 0;
}

/*----------------
HEADER
-----------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: 100;
  color: var(--white);
  transition: background-color 0.5s ease;
}

nav {
  height: 3.5rem;
}

nav > div {
  width: 30%;
}

.nav__burger,
.nav__toggle {
  color: white;
}

.custom-logo {
  width: 250px;
  object-fit: contain;
}

.nav__left {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

.nav__list {
  padding: 0;
}

.nav__list .menu-item a {
  color: white;

  font-weight: 500;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__center,
.nav__right {
  display: flex;
  height: 100%;
}
.nav__right {
  display: flex;
  justify-content: flex-end;
}
.nav__center {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--dark);
    padding-top: 1rem;
  }
  .nav__list .menu-item a:hover {
    background-color: var(--dark);
  }
  .custom-logo {
    width: 200px;
  }
  .nav__right {
    display: none;
  }
  .nav__left {
    width: 100%;
  }
}

.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

@media screen and (min-width: 1118px) {
  nav {
    display: flex;
    height: 5.5rem;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
  }

  .nav__center .nav__list {
    column-gap: 3em;
  }
  .nav__right .nav__list {
    column-gap: 1em;
  }

  .nav__list .menu-item a {
    height: 100%;
    padding: 0;
    justify-content: initial;
  }
}

header.transparent {
  background-color: transparent;
  box-shadow: none;
}

/*----------------
PAGES
-----------------*/
.page__header {
  width: 100%;
  height: 60vh;
}
.header__background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__background::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.page__header .header__content {
  z-index: 2;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}
.page__header .header__content h1 {
  font-size: 4rem;
  font-weight: 900;
  margin: 0.2rem 0;
}

.page__header .header__info {
  display: flex;
  align-items: center;
  height: 100%;
}

.page__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.load-more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.load-more .cta {
  cursor: pointer;
}

.cover {
  padding: 10rem 0;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: var(--white);
  position: relative;
  display: flex;
  justify-content: center;
}
.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover .cover__content {
  position: relative;
  z-index: 1;
  width: 40%;
  padding: 0 1rem;
}
.cover .cover__content h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.cover .cover__content p {
  font-size: 1.5rem;
}

.line {
  background-color: var(--orange);
  display: block;
  height: 5px;
  width: 100px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .cover .cover__content {
    width: 100%;
  }
}

/*----------------
HERO
-----------------*/

.hero {
  height: 100vh;
}

.hero .wp-block-cover__inner-container {
  max-width: 50%;
}

.hero .scroll-arrow {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .hero .hero__content-container .content {
    max-width: 100%;
  }
}

/*----------------
LAYOUT
-----------------*/

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 5em;
  row-gap: 1em;
}
.col-6 {
  grid-column: span 6;
}

.col-4 {
  grid-column: span 4;
}

.col-8 {
  grid-column: span 8;
}

.col-5 {
  grid-column: span 5;
}

.col-7 {
  grid-column: span 7;
}
.col-12 {
  grid-column: span 12;
}

.image-wrapper,
.image-wrapper--full {
  width: 100%;
  display: flex;
  align-items: center;
}
.image-wrapper img {
  width: 80%;
}
.image-wrapper--full img {
  width: 100%;
}

.image-rect {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.bg-half-black {
  background: linear-gradient(var(--dark) 60%, transparent 40%) no-repeat;
}

.bg-half-black .white {
  color: var(--white);
}
.bg-half-black .black {
  color: var(--dark);
}

.section__header {
  margin: 2rem 0;
}
.section__header h3 {
  font-size: 2.5rem;
  margin: 0;
}

.cta {
  font-weight: 700;
  font-size: 1.15rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--orange);
  display: inline-block;
  border-radius: 1rem;
  color: var(--white);
  text-align: center;
}

.cta .wp-block-button__link {
  padding: 0;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .grid {
    column-gap: 1em;
    grid-template-columns: 1fr;
  }
  .image-wrapper img {
    width: 100%;
  }
  .section__header h3 {
    font-size: 2rem;
  }
}

/*----------------
CONTACT FORM
-----------------*/

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.contact-form input[type="text"],
.contact-form textarea {
  margin-bottom: 1.5rem;
  background-color: var(--dark);
  border: none;
  padding: 0.75rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1.25rem;
}

.contact-form textarea {
  max-width: 100%;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--white);
  font-weight: 500;
}

.contact-form input[type="checkbox"] {
  width: 15px;
  height: 15px;
  background-color: var(--dark);
}

.contact-form .checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact-form .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.contact-form .checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--dark);
  border-radius: 0.2em;
}
.contact-form .checkbox input:checked ~ .checkmark:after {
  display: block;
}

.contact-form .checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.contact-form .checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contact-form .submit__container {
  display: flex;
  justify-content: flex-end;
}

.contact-form .cta {
  outline: none;
  border: none;
  cursor: pointer;
  width: fit-content;
}
.contact-form .cta i {
  margin-right: 0.75rem;
}

@media screen and (max-width: 768px) {
  .contact-form {
    max-width: 100%;
  }
}

/*----------------
FOOTER
-----------------*/

footer {
  background-color: var(--dark);
  padding: 2em 0;
  color: var(--white);
}

.footer__container {
  display: grid;
  grid-template-columns: 4fr repeat(4, 1fr);
}

.footer__info {
  margin-right: 10rem;
}

.footer__container .custom-logo {
  width: 250px;
}
.footer__col:first-child {
  grid-column: 3;
}

.footer__col ul {
  margin: 1em 0;
}

.footer__col ul li {
  margin: 1.25em 0;
}

.footer__col ul a {
  color: var(--white);
}

.footer__col ul a {
  color: var(--white);
}

.footer__col span {
  font-size: 1.25rem;
  font-weight: 600;
}

.footer__menu .footer__list {
  display: flex;
  margin: 1rem 0;
}
.footer__menu .footer__list .menu-item a {
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
  }
  .footer__info {
    margin: 0;
  }
}

/*----------------
EXPERIENCES CARDS
-----------------*/

.experiences-grid {
  display: grid;
  grid-template-columns: 2fr 4fr;
  height: 600px;
  grid-gap: 1em;
}

.featured-card.vertical {
  grid-row: span 2;
  border-radius: 1em;
  overflow: hidden;
}

.featured-card.horizontal {
  border-radius: 1em;
  overflow: hidden;
  display: flex;
}

.featured-card.vertical .featured-card__image {
  height: 55%;
  width: 100%;
  position: relative;
}

.featured-card.horizontal .featured-card__image {
  height: 100%;
  width: 45%;
  position: relative;
}

.featured-card .featured-card__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark);
  opacity: 0.5;
}

.featured-card .featured-card__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.featured-card .featured-card__location {
  position: absolute;
  color: var(--white);
  font-weight: 500;
}

.featured-card.vertical .featured-card__location {
  bottom: 10px;
  right: 10px;
}
.featured-card.horizontal .featured-card__location {
  top: 10px;
  left: 10px;
}

.featured-card .featured-card__content {
  background-color: var(--dark);
  color: var(--white);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-card.vertical .featured-card__content {
  height: 45%;
}

.featured-card.horizontal .featured-card__content {
  width: 55%;
}

.featured-card .featured-card__title {
  font-size: 2rem;
  font-weight: 600;
}

.featured-card .featured-card__tags,
.experience__tags {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.featured-card .featured-card__tag,
.experience__tag {
  padding: 0.2em 1em;
  border-radius: 1rem;
  font-weight: 600;
}

.featured-card .featured-card__cta {
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
  padding: 0.6rem 1.5rem;
  border-radius: 10em;
  display: inline-block;
}

.experiences-card__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem 1rem;
}
.experiences-card__grid .featured-card.vertical {
  height: 600px;
}

@media (max-width: 782px) {
  .experiences-grid {
    height: fit-content;
    grid-template-columns: 1fr;
    grid-auto-rows: 600px;
  }
  .experiences-card__grid {
    grid-template-columns: 1fr;
  }
  .featured-card.vertical {
    grid-row: auto;
  }
}

/*----------------
TESTIMONIAL CARD
-----------------*/

.testimonial__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonial__card .testimonial__img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.testimonial__card .testimonial__flag {
  width: 20px;
}

.testimonial__card .testimonial__name {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0.2rem 0;
}
.testimonial__card .testimonial__age {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.testimonial__card .testimonial__text {
  font-size: 1rem;
  font-weight: 300;
}
.testimonial__card .testimonial__stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
.testimonial__card .testimonial__stars .testimonial__star {
  height: 25px;
  width: 25px;
}
